* {
font-family: MyriadPro, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: #d5d7de;
}
h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
h2 {
  margin-top: 20px;
}
li {
  font-size: 14px;
}
a {
  font-style: italic;
}
/*p {
  margin-top: 20px;
  margin-bottom: 20px;
}*/
.wrapper{
  height: 1024px;
  width: 1024px;
  border: 1px solid lightgray;
  margin: auto;
  background: #ffffff;
}
.psize {
  font-size: 14px;
  padding-left: 25px;
}
.mainblock {
  width: 500px;
	height: auto;
	margin-left: 260px;
	padding: 50px;
}
.mainpic {
  display: block;
  margin: 25px auto 0 auto;
}
